@import "tailwindcss";

:root {
  --bg-primary: #e6ded7;
  --text-primary: #1a1a1a;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100vh;
  margin: 0;
}

.page {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


